{{ define "main" }}
<article class="h-entry">
  <style>
    .h-entry {
      padding-left: 3.5rem; /* Ajusta este valor para mover todo a la derecha */
    }
    .e-content ul {
      margin-left: 2.5rem; /* Opcional: Sangría adicional para las listas */
    }
  </style>
  <header>
    <h1 class="p-name">{{ .Title }}</h1>
  </header>

  <div class="e-content">
    {{ .Content }}

    {{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
      {{ if gt (len $taxonomy) 0 }}
        <h2>{{ $taxonomyName | humanize | title }}</h2>
        <ul>
          {{ range $termName, $term := $taxonomy.ByCount }}
            <li>
              <a href="{{ $term.Page.Permalink }}">
                {{ $term.Page.Title }}
              </a>
              ({{ $term.Count }})
            </li>
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  </div>
</article>
{{ end }}
